body {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #1b1b32;
  background: linen;  
  margin: 0;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;  
}

form {
  display: flex;
  flex-direction: column;
  background: rgba(27, 27, 50, 0.8);
  padding: 2.5rem;
  border-radius: 0.25rem;
}

label {
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #f3f3f3;
}

textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  border-radius: 5px;

}

input[type="text"],
input[type="email"],
input[type="number"],
select {
 padding: 0.5rem;
 border-radius: 5px;

}

input[type="submit"] {
  border: none;
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #37af65;
  color: inherit;
  border-radius: 2px;
  cursor: pointer; 
  margin-top: 1.5rem;

}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
  max-width: 540px;
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
}